.canvas-node-collapse-control {
	z-index: 100;
	position: relative;

	overflow: hidden;

    width: 100%;
    height: 40px;
	max-height: 100px;
	min-height: 20px;
	cursor: pointer;

    display: flex;
    align-items: center;
    padding-left: var(--size-4-2);
    gap: var(--size-4-3);
    margin-top: -1px;
}

.canvas-node:has(.canvas-node-collapse-control) {
	width: fit-content;
	height: fit-content;
}

/*.canvas-node-group:not(.is-focused):not(.is-selected) {*/
/*	pointer-events: unset;*/
/*}*/

.canvas-node-group:has(.canvas-node-collapse-control) .canvas-node-collapse-control {
    pointer-events: initial !important;
}

/*.canvas-node.collapsed .canvas-node-collapse-control {*/
/*	border-radius: var(--radius-m);*/
/*}*/

.canvas-node-collapse-control {
	background-color: rgb(var(--canvas-color));
}

.canvas-node.collapsed {
	height: 40px;
	max-height: 40px;
}

.group-nodes-collapsed, .group-edges-collapsed {
	display: none;
}

.canvas-node.collapsed .canvas-node-content {
	display: none;
}

.collapsed-interaction {
	height: 40px !important;
}

.canvas-node-collapse-control-icon, .canvas-node-type-icon {
	display: flex;
}
